input[type=text], select {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  background-color: #0000FF;
  color: blue;
  padding: 16px 10px;
  margin: 8px 0;
  border: 3;
  border-radius: 4px;
  cursor: pointer;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: blue;
  padding: 16px 15px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #FFFF00;
    border-radius: 5px;
 
}
input[type=text] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #0000A0;
  color: yellow;
}
input[type=password] {
  width: 25%;
  background-color: #FFA500;
  color: black;
  padding: 10px 10px;
  margin: 3px 0;
  border: 3;
  border-radius: 4px;
  cursor: pointer;
}
  