
.intento2{
  width: 100px;
  border: 15px ro;
  padding: 30px;
  margin: 20px;
}
.div {
  height: 75px;
  width: 5%;
  background-color: red;
}

.intento4{
  border: 1px blue;
  background-color: lightgreen;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.intento5{
  list-style-type: triangle;
  margin: 0;
  padding: 36px;
}
body {
	font-family: "Times New Roman", serif;
	background-color:#CCFFCC ; }
body{
animation: multifondo 25s infinite
}
@-webkit-keyframes multifondo {
    0%   {background-color: #DB532B;}
    25%  {background-color: #29E4AB;}
    75%  {background-color: #CA2C7B;}
    100% {background-color: #6767E5;}
	