

input[type=text], select {
  width: 20%;
  padding: 7px 6px;
  margin: 8px 0;
  display: inline-block;
  border: 1px #FFFFFF
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=text]:focus {
  background-color: green;
}

input[type=submit] {
  width: 25%;
  background-color: #FDFDFDFFFFFF;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: 3;
  border-radius: 4px;
  cursor: pointer;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: ACACAC;
  border: none;
  color:black;
  padding: 12px 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=password] {
  width: 50%;
  background-color: #FFA500;
  color: black;
  padding: 16px 10px;
  margin: 8px 0;
  border: 3;
  border-radius: 4px;
  cursor: pointer;
}
input[type=button], input[type=reset] {
  background-color: 046D97;
  border: none;
  color:yellow;
  padding: 12px 10px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
 